
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>IMS</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3"><%= title %></h1>
            
            <% if(action == 'list') { %>
    
            <div class="card">
                <div class="card-header">Database</div>
                <div class="card-header"><a href="/edit" class="btn btn-primary btn-sm " style="margin-bottom: 1px;">Edit Row</a>
                    <a href="/delete" class="btn btn-danger btn-sm">Delete Row</a></div>
               
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Invoice</th>
                                <th>Consideration</th>
                                <th>Upload</th>
                            </tr>
                            <%
                            if(sampleData.length > 0)
                            {
                                sampleData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.id%></td>
                                <td><%= data.name %></td>
                                <td><%= data.type %></td>
                                <td><%= data.description %></td>
                                <td><%= data.unit %></td>
                                <td><%= data.quantity %></td>
                                <td><%= data.category %></td>
                                <td><%= data.location %></td>
                                <td><%= data.invoice %></td>
                                <td><%= data.consideration %></td>
                                <td><%= data.status %></td>
                               
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
    
            <% } %>
    
        </div> 
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
